@using Mstech.Frontend.Wallet.Service.Interface.WalletClient
@inject IWalletService WalletService
@inject NavigationManager NavigationManager
@inject SweetAlertService SweetAlert
<div class="modal @walletsModalDisplayClass fade show d-block " tabindex="-1" role="dialog" style="background-color: rgba(0, 0, 0, 0.5); display:@walletsModalStyle;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ویرایش کاربر</h5>
                <button type="button" class="close" @onclick="HideWalletModal"></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    کیف پول های کاربر <span></span>
                                </div>
                                <div class="card-body">
                                    <RadzenDataGrid style="height: 335px" @ref="grid" IsLoading=@isLoading Count="@count" Data="@WalletList" LoadData="@LoadData" AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="4" PagerHorizontalAlign="HorizontalAlign.Center" ColumnWidth="200px">
                                        <Columns>
                                            <RadzenDataGridColumn Property="@nameof(WalletViewModel.UserFullName)" Filterable="false" Title="@GetDisplayName(nameof(WalletViewModel.UserFullName))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                                            <RadzenDataGridColumn Property="@nameof(WalletViewModel.ClientName)" Filterable="false" Title="@GetDisplayName(nameof(WalletViewModel.ClientName))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                                            <RadzenDataGridColumn Property="@nameof(WalletViewModel.ActivationStatusTitle)" Filterable="false" Title="@GetDisplayName(nameof(WalletViewModel.ActivationStatusTitle))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                                            <RadzenDataGridColumn Property="@nameof(WalletViewModel.WalletTypeTitle)" Filterable="false" Title="@GetDisplayName(nameof(WalletViewModel.WalletTypeTitle))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                                            <RadzenDataGridColumn TItem="WalletViewModel" Width="120px" TextAlign="TextAlign.Center">
                                                <Template Context="data">
                                                </Template>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                    </RadzenDataGrid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="HideWalletModal">بستن</button>
            </div>
        </div>
    </div>
</div>




@code {

    RadzenDataGrid<WalletViewModel> grid = new();
    List<WalletViewModel> WalletList = new();


    private string walletsModalDisplayClass = "";
    private string walletsModalStyle = "none !important";
    int count;
    bool isLoading = false;


    public string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {


        await LoadData(new LoadDataArgs() { Top = 4, Skip = 0 });
        StateHasChanged();
    }
    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        await Task.Yield();

        var query = await WalletService.GetAll(new WalletViewModel() { UserId = UserId, PageSize = args.Top.Value, Skip = args.Skip.Value, IsPagination = true });

        if (query?.Entity != null)
        {
            count = query.QueryCount;
            WalletList = query.Entity.ToList();
        }
        else
        {
            count = 0;
            WalletList = new List<WalletViewModel>(); // Empty list if data is null
        }
        if (query.Entity != null)
        {
            WalletList = query.Entity.ToList();

        }

        isLoading = false;
    }

    string GetDisplayName(string propertyName)
    {
        var prop = typeof(WalletViewModel).GetProperty(propertyName);
        if (prop != null)
        {
            var displayAttr = prop.GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault() as DisplayAttribute;
            if (displayAttr != null)
            {
                return displayAttr.Name;
            }
        }
        return propertyName; // Fallback to property name if Display is not set
    }
    public async Task OpenWalletModal(UserViewModel User)
    {

        UserId = User.Id;
        walletsModalDisplayClass = "show";
        walletsModalStyle = "block";
        StateHasChanged();
    }

    private void HideWalletModal()
    {
        walletsModalDisplayClass = "hide ";
        walletsModalStyle = "none !important";
        StateHasChanged();
    }
}
