@page "/Membership/ChangePasswordForFirstLogin"
@using Mstech.Frontend.Wallet.Service.Interface.Membership
@using Mstech.Frontend.Wallet.ViewModel.DTO
@using Mstech.Frontend.Wallet.Service.Implementation.Notification
@using Mstech.Frontend.Wallet.Service.Interface.Notification

@inject ISMSService sMSService;
@inject IUserService userService;
@inject SweetAlertService SweetAlert
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase



<div class="d-flex justify-content-center align-items-center ">
    <section style=" width: 100%; max-width: 400px;">
        <h4 class="h4Login">تایید کد تغییر رمز عبور <span style="color: #727cf5;font-weight: 900;">ترابیس</span></h4>
        <hr style="background-color: #fff;" />
        <EditForm style="color: #fff;" Model="@resetPasswordViewModel" OnValidSubmit="@(() => submitPhoneNumberConfirmation())">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="UserName">نام کاربری:</label>
                <InputText readonly @bind-Value="@resetPasswordViewModel.UserName" class="form-control m-2" />
                <ValidationMessage For="@(() => resetPasswordViewModel.UserName)" />
            </div>

            <div class="form-group">
                <label for="ConfirmationCode">کد ارسال شده:</label>
                <InputText @bind-Value="@resetPasswordViewModel.ConfirmationCode" class="form-control m-2" />
                <ValidationMessage For="@(() => resetPasswordViewModel.ConfirmationCode)" />
            </div>

            <button type="submit" class="btn btn-primary btn-color w-80 mt-2">تایید </button>

            <div class="m-2">
                <p>
                    <button type="button" onclick="@GoToRegister" class=" btn btn-link  text-decoration-none">ثبت نام</button>
                </p>
            </div>
        </EditForm>
    </section>
</div>

@code {

    private NeedToChangePasswordViewModel resetPasswordViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        resetPasswordViewModel = new NeedToChangePasswordViewModel();

        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        resetPasswordViewModel.UserName = query["username"].ToString();

        var result = await userService.CreateConfirmationCodeForPhoneNumber(new PhoneNumberConfirmationViewModel() { PhoneNumber = resetPasswordViewModel.UserName });

    }
    private async Task submitPhoneNumberConfirmation()
    {
        var confirmationResult = await userService.ConfirmPhoneNumber(new ConfirmPhoneNumberViewModel() { UserName = resetPasswordViewModel.UserName, Code = resetPasswordViewModel.ConfirmationCode });

        if (confirmationResult.IsSuccess)
        {
            await SweetAlert.ShowAlert("موفق", confirmationResult.Message, "success");

            NavigationManager.NavigateTo("/Membership/ResetPassword?username=" + confirmationResult.Entity.UserName + "&token=" + confirmationResult.Entity.ResetPasswordToken);

        }
        else
        {

        }

        StateHasChanged();

    }


    private void GoToRegister()
    {
        NavigationManager.NavigateTo("/Membership/Register");
    }

}
