@page "/Membership/Login"

@using Mstech.Frontend.Wallet.Service.Interface.Membership
@using Mstech.Frontend.Wallet.ViewModel

@inject IUserService userService
@inject SweetAlertService SweetAlert
@inject NavigationManager NavigationManager

<div class="d-flex justify-content-center align-items-center  ">
    <section style=" width: 100%; max-width: 400px;">
        <h4 class="h4Login">ورود به مدیریت مالی  <span style="color: #727cf5;font-weight: 900;">ترابیس</span></h4>
        <hr style="background-color: #fff;" />
        <EditForm style="color: #fff;" Model="@loginModel" OnValidSubmit="@(() => HandleLogin())">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="UserName">نام کاربری:</label>
                <InputText @bind-Value="@loginModel.UserName" class="form-control m-2" />
                <ValidationMessage For="@(() => loginModel.UserName)" />
            </div>

            <div class="form-group">
                <label for="Password">رمز عبور:</label>
                <RadzenPassword @bind-Value="@loginModel.Password" class="form-control m-2" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary btn-color w-80 mt-2">ورود</button>
            <div class="m-2">
                <p>
                    <a id="forgot-password" class="text-decoration-none" href="">رمز عبور خود را فراموش کرده اید؟</a>
                </p>
                <p>
                    <button type="button" onclick="@GoToRegister" class=" btn btn-link  text-decoration-none">ثبت نام</button>
                </p>
            </div>
        </EditForm>
    </section>
</div>

@code {

    private LoginViewModel loginModel { get; set; }

    protected override void OnInitialized()
    {
        loginModel = new LoginViewModel();
        base.OnInitialized();
    }
    private async Task HandleLogin()
    {
        var result = await userService.Login(loginModel);
        if (!result.IsSuccess)
        {
            if (result.Entity != null && result.Entity.NeedsToChangePassowrd)
            {
                await SweetAlert.ShowAlert("برای ورود به سامانه باید یک بار رمز عبور خود را تغییر دهید", result.Message, "success");

                NavigationManager.NavigateTo("/Membership/ChangePasswordForFirstLogin?username=" + loginModel.UserName, forceLoad: true);
            }
            else
            {
                if ((result.ErrorCode != null && result.ErrorCode == "Unauthorized") || (result.ErrorCode != null && result.ErrorCode == "Forbidden"))
                {
                    var currentPath = new Uri(NavigationManager.Uri).AbsolutePath;

                    if (currentPath.ToLower() != "/Membership/Login".ToLower() && currentPath.ToLower() != "/Membership/Register".ToLower())
                    {
                        NavigationManager.NavigateTo("/membership/Login");
                    }
                }
                else
                {
                    await SweetAlert.ShowAlert("خطا !", result.Message, "error");
                }
            }

        }
        else
        {
            try
            {
                await userService.GetUserInfo();
            }
            catch
            {

            }

            await SweetAlert.ShowAlert("ورد با موفقیت انجام شد !", result.Message, "success");

            NavigationManager.NavigateTo("/WalletInfo/Wallet/DashBoard", forceLoad: true);

        }
        StateHasChanged();

    }

    private void GoToRegister()
    {
        NavigationManager.NavigateTo("/Membership/Register");
    }
}
