@* @page "/Membership/RoleUser/Index"

@inject IRoleUserService RoleUserService
@inject IGetDropDownDataService getDropDownDataService
@inject NavigationManager NavigationManager
@inject SweetAlertService SweetAlert

<div class="content">
    <div class="row">
        <div class="col-12">

            <Create grid="grid" />

            <div class="card">
                <div class="card-header">
                    لیست کاربران سیستم
                </div>
                <div class="card-body">
                    <RadzenDataGrid style="height: 335px" @ref="grid" IsLoading=@isLoading Count="@count" Data="@RoleUsers" LoadData="@LoadData" AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="4" PagerHorizontalAlign="HorizontalAlign.Center" ColumnWidth="200px">
                        <Columns>
                            <RadzenDataGridColumn Property="@nameof(RoleUserViewModel.RoleUserName)" Filterable="false" Title="@GetDisplayName(nameof(RoleUserViewModel.RoleUserName))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn Property="@nameof(RoleUserViewModel.FullName)" Filterable="false" Title="@GetDisplayName(nameof(RoleUserViewModel.FullName))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn Property="@nameof(RoleUserViewModel.PositionName)" Filterable="false" Title="@GetDisplayName(nameof(RoleUserViewModel.PositionName))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn Property="@nameof(RoleUserViewModel.IsActiveTitle)" Filterable="false" Title="@GetDisplayName(nameof(RoleUserViewModel.IsActiveTitle))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn Property="@nameof(RoleUserViewModel.PhoneNumber)" Filterable="false" Title="@GetDisplayName(nameof(RoleUserViewModel.PhoneNumber))" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn TItem="RoleUserViewModel" Width="120px" TextAlign="TextAlign.Center">
                                <Template Context="data">
                                    <button class="btn  btn-sm btn" @onclick="() => OpenEditModal(data)"><i class="fa-regular fa-pen-to-square"></i></button>
                                    <button class="btn  btn-sm btn" @onclick="() => OpenWalletModal(data)"><i class="fa-regular fa-wallet "></i></button>
                                    <button class="btn btn-sm btn" @onclick="() => OpenDeleteConfirmationModal(data)"><i class="fa-regular fa-trash"></i></button>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </div>
</div>


<Edit @ref="editComponentRef" grid="grid" />
<Wallets @ref="walletsComponentRef" />


@code {

    RadzenDataGrid<RoleUserViewModel> grid = new();
    List<RoleUserViewModel> RoleUsers = new();

    private Edit editComponentRef { get; set; }
    private Wallets walletsComponentRef { get; set; }
    private string modalDisplayClass = "";
    private string modalStyle = "none !important";
    int count;
    bool isLoading = false;


    protected override async Task OnInitializedAsync()
    {


        await LoadData(new LoadDataArgs() { Top = 4, Skip = 0 });
        StateHasChanged();
    }
    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        await Task.Yield();

        var query = await RoleUserService.GetAllRoleUsers(new RoleUserViewModel() { PageSize = args.Top.Value, Skip = args.Skip.Value, IsPagination = true });

        if (query?.Entity != null)
        {
            count = query.QueryCount;
            RoleUsers = query.Entity.ToList();
        }
        else
        {
            count = 0;
            RoleUsers = new List<RoleUserViewModel>(); // Empty list if data is null
        }
        if (query.Entity != null)
        {
            RoleUsers = query.Entity.ToList();

        }

        isLoading = false;
    }

    private async Task OpenEditModal(RoleUserViewModel RoleUser)
    {

        await editComponentRef.OpenEditModal(RoleUser);
        StateHasChanged();
    }

    private async Task OpenWalletModal(RoleUserViewModel RoleUser)
    {
        await walletsComponentRef.OpenWalletModal(RoleUser);
        StateHasChanged();
    }

    private async void OpenDeleteConfirmationModal(RoleUserViewModel RoleUserModel)
    {
        var result = await SweetAlert.ShowConfirmation("عملیات حذف", $"آیا میخواهید {RoleUserModel.FullName} را حذف کنید؟");
        if (result == true)
        {
            var deleteResult = await RoleUserService.DeleteRoleUser(new RoleUserViewModel() { Id = RoleUserModel.Id });
            if (!deleteResult.IsSuccess)
            {
                if ((deleteResult.ErrorCode != null && deleteResult.ErrorCode == "Unauthorized") || (deleteResult.ErrorCode != null && deleteResult.ErrorCode == "Forbiden"))
                {
                    NavigationManager.NavigateTo("");

                }
                else
                {
                    await SweetAlert.ShowAlert("خطا !", deleteResult.Message, "error");

                }

            }
        }
        await grid.Reload();
        StateHasChanged();
    }

    string GetDisplayName(string propertyName)
    {
        var prop = typeof(RoleUserViewModel).GetProperty(propertyName);
        if (prop != null)
        {
            var displayAttr = prop.GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault() as DisplayAttribute;
            if (displayAttr != null)
            {
                return displayAttr.Name;
            }
        }
        return propertyName; // Fallback to property name if Display is not set
    }


}
 *@